.card_color{
    width:392px;
    height:110px;
    left:45px;
    top:85px;
    right: 437px;
    bottom: 195px;
    padding-top: 20px;
    margin-top: 10%
    
}
.font_color{
 font-family: "Open Sans", open-sans, sans-serif;
 font-size: 12px;
 font-weight: 400;
 height: 17px;
 color: rgb(95, 105, 122);
 

}


.connected {
	height: 22px;
	width: 85px;
	color: #2CB446;
	font-family: Assistant;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}


.ip-192-39-19-301-po {	height: 52px;	width: 111px;	
    color: #232F37;	font-family: Assistant;	font-size: 16px;
        line-height: 26px;}
        

        .host-name {
            height: 24px;
            width: 96px;
            color: #232F37;
            font-family: Assistant;
            font-size: 20px;
            font-weight: bold;
            /* line-height: 24px; */
        }